.navContainer {

  height: 78px;
  border: 1px solid #19191d;
  background-color: #030303;
}

.leftContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 91px;
  margin-left: 10px;
}

.icon {
  color: #F3900D;
  margin-top: 20px;
  width: 20px;
  height: 20px;
}

.logo {
  display: flex;
  flex-direction: row;
}

.h1 {
  margin-top: 22px;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-size: 22px;
  line-height: 18px;
  background: linear-gradient(102.81deg, #FFDD31 0%, #F3900D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #adb5bd;
  display: none;
}