.categoryMenu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 100%;
  margin: 0 auto;
}

.categoryMenu::-webkit-scrollbar {
  display: none;
}
.categoryButton {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  
  text-transform: uppercase;
  
  /* neutral/700 */
  
  color: #495057;
  
  cursor: pointer;
  margin-left: 20px;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
  /* Otros estilos visuales para indicar que está deshabilitado */
}
.active {
  color: gray;
}

.categoryButton:hover {
  color: white;
}
