.emojiButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 39px;
  height: 39px; 
  /* secondary/100 */
  background: #121416;
  border-radius: 12px;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-weight: 700;
font-size: 22px;
line-height: 160%;
  cursor: pointer;
}
.emojiButton:hover{
  background: #212529;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  /* Otros estilos visuales para indicar que está deshabilitado */
}


.emojiListContainer {
  height: 226px;
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.emojiListContainer::-webkit-scrollbar {
  display: none;
}