.selectedEmojiWrapper {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  height: 300px;

}

.buttonRemove {

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.93878px;
  gap: 6.94px;
  position: absolute;
  width: 34px;
  top: 130px;
  margin-left: 85px;
  /* dark */

  background: #030303;
  /* destructive/900 */
  cursor: pointer;
  border: 0.693878px solid #BC1C10;
  border-radius: 8.32653px;
}

.icon {
  color: #BC1C10;
}

.divText {
  width: 370px;
  height: 20px;

  /* text-sm/font-bold-italic */

  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-transform: uppercase;

  /* neutral/500 */

  color: #ADB5BD;
  /* text-xl/bold-italic-capitalize */

  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  /* identical to ox height, or 140% */

  text-transform: uppercase;
  /* neutral/500 */
  text-align: center;
}

.textWrapper {
  width: auto;
  height: 20px;
  font: 700 15px/20px "Montserrat";
  color: #adb5bd;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.textContent{
  display: flex;
  margin: auto ;
  
}
.iconDiv {
  
  width: 24px;
  height: 24px;
  color: #adb5bd;
  position: absolute;
margin-left: -22px;
}

.textLink {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  
  
  /* gradient-primary */
  
  background: linear-gradient(102.81deg, #FFDD31 0%, #F3900D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.textInfo {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #f8f9fa;
  margin-top: 10px;
}

.main {
  display: flex;

  gap: 14px;
  flex-direction: column;
  align-items: center;
}

.buttonMain {
  gap: 10px;
  padding: 16px 62px;
  gap: 20px;
  background: linear-gradient(102.81deg, #FFDD31 0%, #F3900D 100%);
  border-radius: 8px;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;

  width: 319.21px;
  height: 74px;
  color: #030303;
  border: none;
  outline: none;
  cursor: pointer;
}

.back {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  gap: 10px;

  width: 319.21px;
  height: 74px;


  /* dark */

  background: #030303;
  /* neutral/700 */

  border: 1px solid #495057;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  /* neutral/500 */

  color: #ADB5BD;
  cursor: pointer;

}

.divButton {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.emoji {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 80px;
  height: 80px;
  background: #0f1012;
  border: 1.25px solid #f9b71f;
  box-shadow: 0px 0px 222px rgba(246, 159, 20, 0.55);
  border-radius: 27.5px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 10px;
}

.selectedEmojiContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
