.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}



.loadingIcon {
  /* Estilos para el ícono de carga */
  animation: spin 1s linear infinite;
  color: yellow;
  width: 200px;
  height: 100px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}